# Fichiers python
.venv
tmp
__pycache__

# Fichiers Mac
.DS_Store

# Fichiers secrets
.env

# Fichiers mlflow
mlruns

# Dossiers des photos + csv
data

confusion_matrix.png
classification_report.txt

